<div class="header">

    <div class="top">
        <!-- Left -->
        <div class="top-left">
            <img class="logo"
                src="https://shopfront.takealot.com/125ff01073628966eb65e2710a7bce886017b6d9/static/media/src/images/logo.svg-f6ccb489b85bbddf97d6.svg"
                alt="">

                <div class="navigation">
                    <ul class="left-side">
                        <li><a class="help">Help Center</a></li>
                        <li><a class="">Sell On Takealot</a></li>
                    </ul>
        
                    <!-- Right -->
                    <!-- <ul class="right-side">
                        <li class="myaccount">My Account</li>
                        <li class="cart"><a>Shopping Cart</a></li>
                        <li class="wishlist"><a>W</a></li>
                        <li><a>Orders</a></li>
                        <li><a href="">Login</a></li>    
                        <li><a href="">Register</a></li>
                           
                    </ul> -->
        
                </div>
        </div>

        


    </div>

    <div class="bottom">

    </div>
</div>